body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:lightgray;
}
.title{
    text-align:center;
    padding:20px;
    color:black;
    font-size:35px;
}
.add-btn-box{
    text-align:center;
    margin-bottom:20px;
}
.add-btn{
    background:blue;
    color:white;
    border:none;
    padding:10px 20px;
    font-size:25px;
    border-radius:8px;
    cursor:pointer;
}
.book-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding-bottom:40px;
}
.book-box{
    width:250px;
    background:white;
    padding:15px;
    border-radius:10px;
    text-align:left;
}
.delete-btn{
    background:red;
    color:white;
    border:none;
    padding:7px 15px;
    cursor:pointer;
    border-radius:5px;
    margin-top:10px;
}
.popup{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:black;
    display:none;
    justify-content:center;
    align-items:center;
}
.popup-box{
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
}
.popup-box input,
.popup-box textarea{
    width:100%;
    margin-top:10px;
    padding:8px;
    border:1px solid gray;
    border-radius:5px;
}
.add-popup-btn{
    background:green;
    color:white;
    border:none;
    padding:8px 20px;
    border-radius:6px;
    cursor:pointer;
    margin-top:10px;
}
.close-popup-btn{
    background:black;
    color:white;
    border:none;
    padding:8px 20px;
    border-radius:6px;
    cursor:pointer;
    margin-top:10px;
}
